<a href="https://colab.research.google.com/github/HowardHNguyen/Python/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
rain = True
if rain is True:
  then_result = 'Stay Home'

then_result

'Stay Home'

In [ ]:
def percentage(a,b):
  if b == 0:
    return None
  return round(a/b, 2)

In [ ]:
percentage(10, 100)

0.1

In [ ]:
percentage(25, 450)

0.06

In [ ]:
name = 'nana'
if name == 'Kay':
  print('Hello Kay')
else:
  print("Sorry")

Sorry

In [ ]:
if name in {'Adrian', 'Jac'}:
  print('Hey, I know you!')
elif name in {'Howard', 'Kay'}:
  print("Helloooo!")
elif name in {'Benny', 'Lynn'}:
  pass
else:
  print("I don't know you...")

I don't know you...

In [ ]:
name = name or 'Sigimund'
name

'nana'

In [ ]:
name = 0
name = name or 'Max'
name

'Max'

In [ ]:
name = 0
name = name if name is not None else 'nana'
name

0

USING IF IN COMPREHENSIIONS

In [ ]:
characters = [
    {'name': 'Peter', "surname": 'Rabbit'},
    {'name': 'Josephine', 'surname': 'Rabbit'},
    {'name': 'Michael', 'surname': 'McGregor'}
]
heo = [goi['name'] for goi in characters if goi['surname'] == 'McGregor']
heo

['Michael']

LOOPS

In [ ]:
for i in range (3):
  print(i)

0
1
2

In [ ]:
for i in 'Howard':
  print(i)

H
o
w
a
r
d

In [ ]:
person = {'name': 'Howard', 'surname': 'Nguyen'}
for i, j in person.items():
  print(i,':', j)

name : Howard
surname : Nguyen

ITERTOOLS

In [ ]:
# Cycle

In [ ]:
from itertools import cycle
colors, categories = cycle(('red','green','blue')),(1,2,3,4,5)

for i,j in zip(categories, colors):
  print (i, j)

1 red
2 green
3 blue
4 red
5 green

GROUPBY

In [ ]:
from itertools import groupby

characters = [
    {'name': 'Peter', "lastname": 'Rabbit'},
    {'name': 'Josephine', 'lastname': 'Rabbit'},
    {'name': 'Michael', 'lastname': 'McGregor'}
]

for i, j in groupby(characters, lambda x: x['lastname']):
    print(i)
    for y in j:
        print('    ', y['name'])

Rabbit
     Peter
     Josephine
McGregor
     Michael

In [ ]:
import pandas as pd

# creating a dataframe
sales_data = pd.DataFrame({
'customer_id':[3005, 3001, 3002, 3009, 3005, 3007,
               3002, 3004, 3009, 3008, 3003, 3002],
'salesman_id': [102, 105, 101, 103, 102, 101, 101,
                106, 103, 102, 107, 101],
'purchase_amt':[1500, 2700, 1525, 1100, 948, 2400,
                5700, 2000, 1280, 2500, 750, 5050]})
sales_data

    customer_id  salesman_id  purchase_amt
0          3005          102          1500
1          3001          105          2700
2          3002          101          1525
3          3009          103          1100
4          3005          102           948
5          3007          101          2400
6          3002          101          5700
7          3004          106          2000
8          3009          103          1280
9          3008          102          2500
10         3003          107           750
11         3002          101          5050

In [ ]:
# using groupby function with aggregation
# to get mean, min and max values
result = sales_data.groupby('salesman_id').agg({'purchase_amt': ['mean', 'min', 'max']})

print("Mean, min, and max values of Purchase Amount grouped by Salesman id")
print(result)

Mean, min, and max values of Purchase Amount grouped by Salesman id
            purchase_amt
                    mean   min   max
salesman_id
101          3668.750000  1525  5700
102          1649.333333   948  2500
103          1190.000000  1100  1280
105          2700.000000  2700  2700
106          2000.000000  2000  2000
107           750.000000   750   750

In [ ]:
# creating a dataframe
df = pd.DataFrame({"Team": ["Radisson", "Radisson", "Gladiators",
                            "Blues", "Gladiators", "Blues",
                            "Gladiators", "Gladiators", "Blues",
                            "Blues", "Radisson", "Radisson"],

        "Position": ["Player", "Extras", "Player", "Extras",
                     "Extras", "Player", "Player", "Player",
                     "Extras", "Player", "Player", "Extras"],

        "Age": [22, 24, 21, 29, 32, 20, 21, 23, 30, 26, 20, 31]})
df

          Team Position  Age
0     Radisson   Player   22
1     Radisson   Extras   24
2   Gladiators   Player   21
3        Blues   Extras   29
4   Gladiators   Extras   32
5        Blues   Player   20
6   Gladiators   Player   21
7   Gladiators   Player   23
8        Blues   Extras   30
9        Blues   Player   26
10    Radisson   Player   20
11    Radisson   Extras   31

In [ ]:
# using groupby function with aggregation
# to get mean, min and max values
result = df.groupby('Team').agg({'Age': ['mean', 'min', 'max']})

print("Mean, min, and max values of Age grouped by Team")
print(result)

Mean, min, and max values of Age grouped by Team
              Age
             mean min max
Team
Blues       26.25  20  30
Gladiators  24.25  21  32
Radisson    24.25  20  31

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [ ]:
mytuple = ("apple", "banana", "cherry")

for i in mytuple:
  print(i)

apple
banana
cherry

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:
import requests

In [ ]:
base_url = 'https://nominatim.openstreetmap.org/search?'

params = {
    'format':'json',
    'q': 'Eiffel tower'
}

In [ ]:
result = requests.get(base_url, params=params)
result.status_code

200

In [ ]:
result.json()[:2]

[{'boundingbox': ['48.8574753', '48.8590453', '2.2933084', '2.2956897'],
  'class': 'tourism',
  'display_name': 'Tour Eiffel, 5, Avenue Anatole France, Quartier du Gros-Caillou, Paris 7e Arrondissement, Paris, Île-de-France, France métropolitaine, 75007, France',
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_point_of_interest.p.20.png',
  'importance': 0.6868325701744196,
  'lat': '48.858260200000004',
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'lon': '2.2944990543196795',
  'osm_id': 5013364,
  'osm_type': 'way',
  'place_id': 84031316,
  'type': 'attraction'},
 {'boundingbox': ['50.7707862', '50.7708862', '29.2441478', '29.2442478'],
  'class': 'tourism',
  'display_name': 'Ейфелева вежа, Михайла Грушевського вулиця, Центр, Малин, Малинська міська громада, Коростенський район, Житомирська область, 11601, Україна',
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//tourist_art_gallery2.p.20.png',
  'importance': 0.5868325701744196,
  'lat': '50.7708362',
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'lon': '29.2441978',
  'osm_id': 7308805064,
  'osm_type': 'node',
  'place_id': 78628020,
  'type': 'artwork'}]

In [ ]:
params = {
    'format':'json',
    'q': 'Cair Paravel, Narnia', 'limit':1
    }

requests.get(base_url, params=params).json()

[]

In [ ]:
#FUNCTION

import requests
from time import sleep

base_url = 'https://nominatim.openstreetmap.org/search?'

def nominatim_geocode(address, format='json', limit=1, **kwargs):
    '''thin wrapper around nominatim API.

    Documentation: https://wiki.openstreetmap.org/wiki/Nominatim#Parameters
    '''
    params = {'q':address, 'format':format, 'limit':limit, **kwargs}

    response = requests.get(base_url, params=params)
    response.raise_for_status() # will raise exception if status is unsuccessful

    sleep(1) # sleep
    return response.json()

In [ ]:
nominatim_geocode('Eiffel tower')

[{'boundingbox': ['48.8574753', '48.8590453', '2.2933084', '2.2956897'],
  'class': 'tourism',
  'display_name': 'Tour Eiffel, 5, Avenue Anatole France, Quartier du Gros-Caillou, Paris 7e Arrondissement, Paris, Île-de-France, France métropolitaine, 75007, France',
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_point_of_interest.p.20.png',
  'importance': 0.6868325701744196,
  'lat': '48.858260200000004',
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'lon': '2.2944990543196795',
  'osm_id': 5013364,
  'osm_type': 'way',
  'place_id': 84031316,
  'type': 'attraction'}]

In [ ]:
nominatim_geocode(address=None,
                  street='221B Baker Street',
                  city='London', country='Great Britain')

[{'boundingbox': ['51.5233379', '51.5234379', '-0.1582867', '-0.1581867'],
  'class': 'tourism',
  'display_name': '221B Baker Street, Baker Street, Marylebone, London, City of Westminster, England, NW1 6XE, United Kingdom',
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_point_of_interest.p.20.png',
  'importance': 0.411,
  'lat': '51.5233879',
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'lon': '-0.1582367',
  'osm_id': 5568763423,
  'osm_type': 'node',
  'place_id': 62710505,
  'type': 'attraction'}]

In [ ]:
# CLASSES

In [ ]:
class Person:
    '''person entity'''

    greeting = 'Hi {0}. My name is {1}!'

    def __init__(self, name, surname, age):
        self.name = name
        self.surname = surname
        self.age = age

    def __repr__(self):
        return f'Person(name={self.name}, surname={self.surname}, age={self.age})'

    def say_hi(self, name):
        print(self.greeting.format(name, self.name))

In [ ]:
P = Person('Howard', 'Longstocking', 11)

In [ ]:
P

Person(name=Howard, surname=Longstocking, age=11)

In [ ]:
P.say_hi('Kaylyn')

Hi Kaylyn. My name is Howard!